.container {
	margin-top: 1%;
	width: 75%;
}

/* Item Thumbnails */
.thumbnail {
	padding: 0;
}

/* Comment Styling */
.animated {
	-webkit-transition: height 0.2s;
	-moz-transition: height 0.2s;
	transition: height 0.2s;
}

.none {
	display: none;
}